body {
    background: #101010;
    color: #fff;
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

.box {
    background: #1c1c1c;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #ff2975;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}body {
    background: #101010;
    color: #fff;
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

.box {
    background: #1c1c1c;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #ff2975;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}